* {
    box-sizing: border-box;
  }
  
  .haha{
    display: flex;
  }
  .A{
    flex: 50%;
    padding: 10px;
    border: solid black;
    line-height: 35px;

  }
  .B{
    flex: 50%;
    padding: 10px;
    border: solid black;
  }
  